<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <style>
    body {
      margin: 20px;
    }

    * {
      text-align: center;
    }

    table {
      width: 50%;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>All Users' Quiz Results</h2>
        {{#each users}}
          <table class="table table-striped caption-top">
            <thead>
              <tr>
                {{this.firstName}} {{this.lastName}} ({{this.username}})
              </tr>

              <td>Title</td>
              <td>Score</td>
              <td>Start</td>
              <td>End</td>
              <td>Results</td>
            </thead>
            <tbody>
              {{#each this.results}}
                <tr>
                  <td>{{this.title}}</td>
                  <td>{{this.score}} </td>
                  <td>{{this.start}} </td>
                  <td>{{this.end}} </td>
                  <td><a href="/admin/results/{{this.id}}">View Breakdown</a></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/each}}
      </div>


      <div class="col">
        <h2>All Reviews</h2>
        <h4>Average Rating: {{average}} stars</h4>
        <table class="table table-striped">
          <thead>
            <td>Rating</td>
            <td>Feedback</td>
          </thead>
          <tbody>
            {{#each feedback}}
              <tr>
                <td>{{this.rating}}</td>
                <td>{{this.feedback}} </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<script>
  const log = console.log;

</script>

</html>