<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <style>
    body {
      margin: 20px;
    }

    * {
      text-align: center;
    }

    table {
      width: 50%;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <!--
  <h2>TO DO App</h3>
    <form>
      <div class="form-group">
        <input type="text" class="form-control"
          placeholder="Please enter name of .json file you wish to load..." id='filename'>
      </div>
      <button type="submit" class="btn btn-primary" id='loadFile'>Load</button>
      <br />
      <br />
    </form>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Please enter title..." id='title'>
        <input type="text" class="form-control" placeholder="Please enter description.." id='desc'>
      </div>
      <button type="submit" class="btn btn-primary" id='submit'>Submit</button>
    </form>
    <br />
    <hr />
    <h4> List loaded from: '{{filename}}'</h4>
    <br />

    <table class="table table-striped" id='list'>
      <thead>
        <td>ID</td>
        <td>Title</td>
        <td>Time</td>
        <td>Status</td>
        <td>Description</td>
      </thead>
      <tbody>
        {{#each list}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}} </td>
            <td>{{this.time}} </td>
            <td>{{this.status}} </td>
            <td>{{this.description}} </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
 -->
  <h2>User List</h2>
  <hr />
  <table>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.password}}</td>
          <!--property value here-->
        </tr>
      {{/each}}
    </tbody>
  </table>

</body>

<script>
  const log = console.log;

  const listTable = document.getElementById('list');
  listTable.addEventListener('click', function (e) {
    const row = e.target.parentNode.children;
    // change it client-side to make it look instant
    row[3].innerText = row[3].innerText === 'FINISH' ? 'NOT FINISH' : 'FINISH';
    // send put request to server
    fetch('http://localhost:3000/todo/', {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ id: row[0].innerText }),
    })
      .then(res => res.json())
      .then(data => {
        log(data.msg);
      })
      .catch((error) => { console.error('Error:', error); alert("ERROR!"); });
  }
  );

  const loadFileBtn = document.getElementById("loadFile");
  loadFileBtn.addEventListener('click', function (e) {
    const nameInput = document.getElementById("filename");
    fetch('http://localhost:3000/load', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ filename: nameInput.value }),
    })
      .then(res => res.json())
      .then(data => {
        log(data.msg);
        alert(data.msg);
      })
      .catch((error) => { console.error('Error:', error); alert("ERROR!"); });
  });

  const submitBtn = document.getElementById('submit');
  submitBtn.addEventListener('click', function (e) {
    const titleInput = document.getElementById('title');
    const descInput = document.getElementById('desc');

    fetch('http://localhost:3000/todos', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ title: titleInput.value, description: descInput.value }),
    })
      .then(response => response.json())
      .then(data => { console.log(data.msg); alert(data.msg); })
      .catch((error) => { console.error('Error:', error); alert('ERROR!'); });
  })
</script>

</html>