<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <style>
    body {
      margin: 20px;
    }

    * {
      text-align: center;
    }

    table {
      width: 50%;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h2>{{title}} Quiz</h2>
  <hr>
  <form>
    <ol>
      {{#each questions}}
        <li>
          {{this.question}} <br>
          {{#each this.choices}}
            <input type="radio" name="{{../question}}" value="{{this}}"> {{this}} <br>
          {{/each}}
        </li>
      {{/each}}
    </ol>
    <input type="submit" id="submit">
  </form>
</body>

<script>
  const log = console.log;

  const SubmitBtn = document.getElementById('-submit');
  SubmitBtn.addEventListener('click', function (e) {
    e.preventDefault();
    const username = document.getElementById('-username');
    const password = document.getElementById('-password');

    $.ajax({
      url: "/quiz",
      type: "POST",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ username: username.value, password: password.value }),
      success: function (data, textStatus, req) {
        // store JWT
        if (!data.err) {
          document.cookie = `JWT=${req.getResponseHeader('JWT')}`;
          window.location = data.redirect;
        } else {
          const msg = `<div class="alert alert-danger" role="alert">${data.err}</div>`;
          document.body.firstElementChild.innerHTML = msg;
        }
      },
      error: function (res) {
        alert(res.responseJSON.errorMsg);
      }
    });
  });
</script>

</html>